<!DOCTYPE html>
<html>

<head>
    <title>Plane Invaders</title>
    <link rel="stylesheet" type="text/css" href="static/css/core.css">
    <link rel="stylesheet" type="text/css" href="static/css/typeography.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
</head>

<body>
    <div class="row">
        <div class="col-lg-2">
            <div class="plane-info">
                <h3>Historical Plane Info</h3>
            </div>
        </div>
        <div id="starfield"></div>
        <div id="gamecontainer">
            <img id="plane" width="50" height="50" style="display: none" src="static/assets/jet-us.png">
            <canvas id="gameCanvas"></canvas>
        </div>
        <div class="col-lg-2">
            <div class="leaderboard">
                <h3>Leaderboard</h3>
                <ul class="list-group">
                    <%for( var i=0; i<10; i++){%>
                    <li class="list-group-item"><%=i+1%>:<%=results[i]%></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>


    <script src="static/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="static/js/starfield.js"></script>
    <script src="static/js/spaceinvaders.js"></script>
    <script>

        //  Create the starfield.
        var container = document.getElementById('starfield');
        var starfield = new Starfield();
        starfield.initialise(container);
        starfield.start();

        //  Setup the canvas.
        var canvas = document.getElementById("gameCanvas");
        canvas.width = 800;
        canvas.height = 600;

        //  Create the game.
        var game = new Game();

        //  Initialise it with the game canvas.
        game.initialise(canvas);

        //  Start the game.
        game.start();

        //  Listen for keyboard events.
        window.addEventListener("keydown", function keydown(e) {
            var keycode = e.which || window.event.keycode;
            //  Supress further processing of left/right/space (37/29/32)
            if (keycode == 37 || keycode == 39 || keycode == 32) {
                e.preventDefault();
            }
            game.keyDown(keycode);

        });
        window.addEventListener("keyup", function keydown(e) {
            var keycode = e.which || window.event.keycode;
            game.keyUp(keycode);
        });

        window.addEventListener("touchstart", function (e) {
            game.touchstart(e);
        }, false);

        window.addEventListener('touchend', function (e) {
            game.touchend(e);
        }, false);

        window.addEventListener('touchmove', function (e) {
            game.touchmove(e);
        }, false);
    </script>
</body>

</html>