<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <form method="POST" action="/login">
            <input name="username" type="text" placeholder="username" required>
            <input name="password" type="password" placeholder="password" required>
            <label id="lbl"></label>
            <button type="submit">Login</button>
        </form>
        
        <form method="POST" action="/login">
            <button type="submit">Login as Guest</button>
        </form>
        <form method="GET" action="/signup">
            <button type="submit">Signup</button>
        </form>
        
    </body>
</html>