<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
        <form method="POST" action="/signup">
            <input name="username" type="text" placeholder="username" required>
            <input name="password" type="password" placeholder="password" required>
            <input name="confirm" type="password" placeholder="confirm password" required>
            <label id="lbl">
                <%= label %>
            </label>
            <button type="submit">Sign Up</button>
        </form>
        
        
    </body>
</html>